{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block content %}
{% comment %} <div="background-pls">
  <div class="background-img"></div>
  <div class="container-index">
    <h1>Pokemon Nuzlocke Tracker</h1>
    <hr />
    <p>This is a helpful tool for doing a Pokemon Nuzlocke Challenge</p>
    <p>With this tool you can:</p>
    <ul>
      <li>Look up useful information about certain Pokemon</li>
      <li>Keep track of your different runs</li>
      <li>Keep track of your Pokemon</li>
      <li>Check off what routes you’ve completed</li>
    </ul>
    
  </div>
</div> {% endcomment %}
{% comment %} <div class="background h-100 row align-items-center"> {% endcomment %}
<div class="row">
  <div class="d-flex justify-content-center">
    <div class="box">
      <img class="image-bg img-fluid" src="../static/images/backgrounds/lugia.png" alt="">
    </div>
    <div class="box stack-top index-container container" >
      <div class="desc">
        <h2>Pokemon Nuzlocke Tracker</h2>
        <h5>This is a helpful tool for doing a Pokemon Nuzlocke Challenge</h5>
      </div>
      <div class="use">
        <p>With this tool you can:</p>
        <ul>
          <li>Look up useful information about certain Pokemon</li>
          <li>Keep track of your different runs</li>
          <li>Keep track of your Pokemon</li>
          <li>Check off what routes you’ve completed</li>
        </ul>
      </div>
      <div class="button">
        <a href="">What is a Nuzlocke?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}