/* .background {
  background-image: url( "../images/backgrounds/background-gradient.png");
  width:fit-content;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
} */
body {
  background-image: url( "../images/backgrounds/background-gradient.png");
  background-repeat:repeat-y;
  background-size: cover;
}



.index-container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  gap: 0px 0px;
  grid-template-areas:
      " . . ."
      " . . ."
      " . . ."
      " . . .";
}

.index-container {
  background-color: #29ABE2;
  padding: 20px;
  border-radius: 25px;
  opacity: 0.8;
  /* width:800px; */
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . ."
    ". desc desc desc desc ."
    ". use use use use ."
    ". use use use use ."
    ". button button . . ."
    ". . . . . .";
}

.desc { 
  grid-area: desc; 
  /* background-color: pink; */
}

.use { 
  /* background-color: yellow; */
  grid-area: use; 
}

.button { 
  /* background-color: green; */
  grid-area: button; 
}



.image-bg {
  width: 1200px;
}
.container{
  /* width: 800px; */
  /* height: 200px; */
  position: absolute;
  margin: auto;
}
.box{
  /* height: 828px; */
  /* width: 100px;             */
  position: absolute;
  /* top: 0;
  left: 0; */
  margin: auto;

}
.stack-top{
  z-index: 9;
  margin-top:20px;
}

.navbar{
  background-color: #3D8AAB;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(86, 98, 139);
  color: rgb(0, 0, 0);
}

#home-link {
  display: inline-block;
}