{% extends 'base.html' %}

{% block content %}
{% load static %}

<h1>{{ run.name }}</h1>
<p>{{ run.rules }}</p>
{% comment %} <p><a class="basic-button" href="{% url 'new_pokemon' %}" >Add Pokemon</a></p> {% endcomment %}
<form class="nav-search" action="{% url 'search_results' run.id %}" method="get">
    <input class="form-control me-2" type="text" placeholder="Search for Pokemon" name="q">
    <button class="btn btn-sm btn-success " type="submit">Search</button>
</form>
{% for pokemon in pokemon %}
    <div class="card">
      <img class="card-img" src="{{pokemon.picture}}">
      <div class="container-card">
        <h6><b><a href="{% url 'show_pokemon' pokemon.pk_id%}">{{pokemon.nickname}}</a></b></h6>
  </a>
        <p>ID: {{pokemon.pk_id}}</p>
      </div>
    </div>
{% endfor %} 

{% endblock %}